!!! XHTML
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "UTF-8"}
    %title= @title
    %link{:rel => "stylesheet", :href => "#{app_root}/tv.css"}
    :javascript
      var channel = "#{@channel.to_tv}";

  %body
    %div{:id => "tv"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => rocketio_js}
    %script{:src => "#{app_root}/js/xframe.js"}
    %script{:src => "#{app_root}/js/tv.js"}
