!!! XHTML
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "UTF-8"}
    %title= @title
    %link{:rel => "stylesheet", :href => "#{app_root}/tv.css"}
    :javascript
      var channel = "#{@channel.to_tv}";

  %body
    %div{:id => "tv"}
    %script{:type => "text/javascript", :src => "#{app_root}/js/jquery.js"}
    %script{:type => "text/javascript", :src => rocketio_js}
    %script{:type => "text/javascript", :src => "#{app_root}/js/xframe.js"}
    %script{:type => "text/javascript", :src => "#{app_root}/js/tv.js"}
